IMAGE_LIST = cis ipl ipl_cust uboot logo kernel rootfs rootfs_bak media miservice customer appconfigs customer_bak ota
OTA_IMAGE_LIST = rootfs customer
FLASH_TYPE = spinand
UBI_MLC_TYPE = 0
PAT_TABLE  = ubi
PHY_TEST = no
#overwrite CIS(BL0,BL1,UBOOT) PBAs
CIS_PBAs = 10 0 0
CIS_COPIES = 5
USR_MOUNT_BLOCKS:=miservice appconfigs
BOOT_TYPE = fastboot
ENV_CFG = /dev/mtd6 0 0x20000 0x60000

TFTPDOWNLOADADDR:=0x21000000
KERNELBOOTADDR:=0x20500000
INITRAMFSLOADADDR  = 0x21000000

cis$(RESOUCE) = $(IMAGEDIR)/cis.bin
cis$(DATASIZE) = 0x40000
cis$(PGSIZE) = 2k
cis$(COPIES) = $(CIS_COPIES)
cis$(PATSIZE) = 0x140000
cis$(BOOTTAB) = $(ipl$(MTDPART)),$(ipl_cust$(MTDPART)),$(uboot$(MTDPART)),$(kernel$(MTDPART)),$(rootfs$(MTDPART)),$(rootfs_bak$(MTDPART))
cis$(SYSTAB) = $(miservice$(MTDPART)),$(media$(MTDPART)),$(key_cust$(MTDPART)),$(logo$(MTDPART)),-(UBI)

ipl$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/fastboot/IPL.bin
ipl$(DATASIZE) = 0x20000
ipl$(COPIES) = 3
ipl$(BKCOUNT) = 2
ipl$(PATSIZE) = $(call multiplyhex, $(ipl$(COPIES)), $(ipl$(DATASIZE)))
ipl$(PATCOUNT) = 2
ipl$(MTDPART) = $(ipl$(DATASIZE))@$(cis$(PATSIZE))(IPL0)$(ipl$(BKCOUNT)),$(ipl$(DATASIZE))(IPL1)$(ipl$(BKCOUNT))
ipl$(OTABLK) = /dev/mtd0 /dev/mtd1

ipl_cust$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/ipl/fastboot/IPL_CUST.bin
ipl_cust$(DATASIZE) = 0x20000
ipl_cust$(COPIES) = 3
ipl_cust$(BKCOUNT) = 2
ipl_cust$(PATSIZE) = $(call multiplyhex, $(ipl_cust$(COPIES)), $(ipl_cust$(DATASIZE)))
ipl_cust$(PATCOUNT) = 2
ipl_cust$(MTDPART) = $(ipl_cust$(DATASIZE))(IPL_CUST0)$(ipl_cust$(BKCOUNT)),$(ipl_cust$(DATASIZE))(IPL_CUST1)$(ipl_cust$(BKCOUNT))
ipl_cust$(OTABLK) = /dev/mtd2 /dev/mtd3

uboot$(RESOUCE) = $(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/uboot/u-boot_$(FLASH_TYPE).xz.img.bin
uboot$(DATASIZE) = 0x40000
uboot$(COPIES) = 3
uboot$(BKCOUNT) = 4
uboot$(PATSIZE) = $(call multiplyhex, $(uboot$(COPIES)), $(uboot$(DATASIZE)))
uboot$(PATCOUNT) = 2
uboot$(MTDPART) = $(uboot$(DATASIZE))(UBOOT0)$(uboot$(BKCOUNT)),$(uboot$(DATASIZE))(UBOOT1)$(uboot$(BKCOUNT)),0x60000(ENV)
uboot$(OTABLK) = /dev/mtd4 /dev/mtd5

wifi24mclkcmd = mw 1f001cc0 11
wifirstoffcmd = gpio out 8 0
wifirstoncmd = gpio out 8 1

key_cust$(PATSIZE) = 0x20000
key_cust$(MTDPART) = $(key_cust$(PATSIZE))(KEY_CUST)

logo$(RESOUCE) = $(IMAGEDIR)/logo
logo$(PATSIZE) = 0x60000
logo$(MTDPART) = $(logo$(PATSIZE))(LOGO)
logo$(OTABLK) = /dev/mtd15

kernel$(RESOUCE)   = $(PROJ_ROOT)/release/$(PRODUCT)/$(CHIP)/$(BOARD)/$(TOOLCHAIN)/$(TOOLCHAIN_VERSION)/bin/kernel/$(FLASH_TYPE)/uImage.mz
kernel$(BKCOUNT)   = 2
kernel$(PATSIZE)   = 0x280000
kernel$(BOOTENV)   = $(KERNEL_BOOT_ENV)
kernel$(BOOTENV1)   = $(KERNEL_BOOT_ENV)
kernel$(MTDPART)   = $(kernel$(PATSIZE))(KERNEL)$(kernel$(BKCOUNT)),$(kernel$(PATSIZE))(RECOVERY)
kernel$(OTABLK) = /dev/mtd7

rootfs$(RESOUCE)   = $(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)    = ramfs
rootfs$(BKCOUNT)   = 2
rootfs$(PATSIZE)   = 0xF00000
rootfs$(BOOTENV)   = ubi.mtd=UBI,2048 rootfstype=ramfs initrd=$(INITRAMFSLOADADDR),$(rootfs$(PATSIZE)) loglevel=0
rootfs$(MTDPART)   = $(rootfs$(PATSIZE))(rootfs)$(rootfs$(BKCOUNT))
rootfs$(OTABLK) = /dev/mtd9

rootfs_bak$(RESOUCE)   = $(OUTPUTDIR)/rootfs_bak
rootfs_bak$(FSTYPE)    = ramfs
rootfs_bak$(BKCOUNT)   = 2
rootfs_bak$(PATSIZE)   = 0xF00000
rootfs_bak$(BOOTENV)   = ubi.mtd=UBI,2048 rootfstype=ramfs initrd=$(INITRAMFSLOADADDR),$(rootfs_bak$(PATSIZE)) loglevel=0
rootfs_bak$(BOOTCMD)   = nand read.e $(INITRAMFSLOADADDR) rootfs_bak $(rootfs_bak$(PATSIZE))\;
rootfs_bak$(MTDPART)   = $(rootfs_bak$(PATSIZE))(rootfs_bak)$(rootfs_bak$(BKCOUNT))
rootfs_bak$(OTABLK) = /dev/mtd10
#console=ttyS0,115200 
miservice$(RESOUCE)   = $(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)    = squashfs
miservice$(PATSIZE)   = 0x200000
miservice$(MOUNTTG)  = /config
miservice$(MOUNTPT)  = /dev/mtdblock11
miservice$(OPTIONS)   = ro
miservice$(MTDPART)   = $(miservice$(PATSIZE))(miservice)
miservice$(OTABLK)    = /dev/mtd11

media$(RESOUCE)   = $(OUTPUTDIR)/media
media$(FSTYPE)    = squashfs
media$(PATSIZE)   = 0x2000000
media$(MOUNTTG)  = /media
media$(MOUNTPT)  = /dev/mtdblock12
media$(OPTIONS)   = ro
media$(MTDPART)   = $(media$(PATSIZE))(media)

customer$(RESOUCE)   = $(OUTPUTDIR)/customer
customer$(FSTYPE)    = ubifs
customer$(PATSIZE)   = 0x3200000
customer$(MOUNTTG)  = /customer
customer$(MOUNTPT)  = ubi0:customer
customer$(OPTIONS)   = rw
customer$(OTABLK)    = /dev/ubi0_0 

appconfigs$(RESOUCE)   = $(OUTPUTDIR)/appconfigs
appconfigs$(FSTYPE)    = ubifs
appconfigs$(PATSIZE)   = 0x2000000
appconfigs$(MOUNTTG)  = /appconfigs
appconfigs$(MOUNTPT)  = ubi0:appconfigs
appconfigs$(OPTIONS)   = rw
appconfigs$(OTABLK)    = /dev/ubi0_1

customer_bak$(RESOUCE)   = $(OUTPUTDIR)/customer_bak
customer_bak$(FSTYPE)    = ubifs
customer_bak$(PATSIZE)   = 0x3200000
customer_bak$(MOUNTTG)  = /customer
customer_bak$(MOUNTPT)  = ubi0:customer_bak
customer_bak$(OPTIONS)   = rw
customer_bak$(OTABLK)    = /dev/ubi0_2

ota$(RESOUCE)   = $(OUTPUTDIR)/ota
ota$(FSTYPE)    = ubifs
ota$(PATSIZE)   = 0x1E00000
ota$(MOUNTTG)  = /ota
ota$(MOUNTPT)  = ubi0:ota
ota$(OPTIONS)   = rw
ota$(OTABLK)    = /dev/ubi0_3

